---
import envelopeBase from "../assets1/envelopeBase.png";
import envelopeTop from "../assets1/envelopeTop.svg";
import envelopeText from "../assets1/envelopeText.svg";
import envelopeBottom from "../assets1/envelopeBottom.svg";
---

<section id="contact" class="mx-auto w-full max-w-[1440px] px-6 pb-16 md:px-16" data-fade>
  <div class="mx-auto w-full max-w-[1110px]">
    <div class="relative overflow-hidden bg-white p-4 shadow-[0_10px_10px_rgba(0,0,0,0.2)] md:p-7">
      <div class="relative h-[320px] w-full md:h-[640px]">
        <img src={envelopeBase.src} alt="" class="absolute inset-x-[6.73%] bottom-0 top-[32.83%] h-auto w-[86.54%] object-cover" />
        <img src={envelopeBottom.src} alt="" class="absolute inset-x-[23.4%] bottom-[10.4%] top-[57.72%] h-auto w-[26.56%]" />
        <img src={envelopeText.src} alt="" class="absolute inset-x-[27.37%] bottom-[2.74%] top-[35.68%] h-auto w-[51.22%]" />
        <img src={envelopeTop.src} alt="" class="absolute inset-x-[6.26%] top-[21.14%] h-auto w-[87.48%]" />
        <div class="absolute inset-x-0 top-[56%] text-center text-[14px] font-medium md:text-[24px]">
          <p>skyg.geform@gmail.com</p>
          <p>tg: @skyggefox</p>
        </div>
      </div>
      <p class="display-font absolute bottom-5 left-6 text-[48px] leading-none md:bottom-7 md:left-10 md:text-[96px]">
        Для тебя
      </p>
    </div>

    <footer class="pt-8 text-right text-[24px]">Skygge 2026</footer>
  </div>
</section>
